:root {
  --green: #005e5d;
  --white: #ffffff;
  --black: #000000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  padding: 10px 80px 0px 80px;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 80px;
  float: right;
}
nav ul {
  display: flex;
}

nav ul li {
  padding: 3px 12.559px 3px 11.441px;
}

nav li a {
  font-size: 20px;
  color: var(--black);
  font-weight: 400;
}

nav .links {
  display: flex;
  gap: 10px;
}

nav #login {
  text-align: center;
  width: 128px;
  padding: 8px 30px;
  border-radius: 10px;
  color: var(--green);
  border: 1px solid var(--green);
}

nav #signup {
  text-align: center;
  width: 128px;
  padding: 8px 30px;
  border-radius: 10px;
  color: var(--white);
  /* border: 1px solid var(--green); */
  background-color: var(--green);
}
